<body> 
  <div class="container-principal">
    <h2 class="titulo">Cadastrar Consulta</h2>

    <div class="form-e-imagem">
      <form action="/cadastrar" method="post">
        <div class="campo-form">
          <label for="nome">Nome do Paciente:</label>
          <input type="text" name="nome" id="nome" required>
        </div>

        <div class="campo-form">
          <label for="email">E-mail:</label>
          <input type="email" name="email" id="email" required>
        </div>

        <div class="campo-form">
          <label for="whatsapp">WhatsApp (com DDD):</label>
          <input type="text" name="whatsapp" id="whatsapp" required>
        </div>

        <div class="campo-form">
          <label for="data">Data da Consulta:</label>
          <input type="date" name="data" id="data" required>
        </div>

        <div class="campo-form">
          <label for="hora">Hora da Consulta:</label>
          <input type="time" name="hora" id="hora" required>
        </div>

        <div class="botoes">
          <button type="submit">Cadastrar lembrete</button>
          <a href="{{ url_for('home') }}">
            <button type="button">Voltar à tela inicial</button>
          </a>
        </div>
      </form>

      <div class="imagem-logo">
        <img src="{{ url_for('static', filename='images/logo_confirmare.png') }}" alt="Logo Confirmare">
      </div>
    </div>
  </div>
</body>
